
@layer base {
  :root {
    --color-bg-body: #eee; 
    --color-bg-primary: #059669;
    --color-bg-sidebar: #064E3B;
    --color-bg-light-green: #DAF8E6;
    --color-bg-card: #059669;
    --color-bg-light: theme('colors.gray.50');
    --color-bg-dark: theme('colors.gray.800');
  }
  body {
    background-color: var(--color-bg-body);
  }
}

@layer components {
  .bg-body {
    background-color: var(--color-bg-body);
  }
  .bg-card {
    background-color: var(--color-bg-card);
  }
  .bg-primary {
    background-color: var(--color-bg-primary);
  }
  .bg-green-light {
    background-color: var(--color-bg-light-green);
  }
  .bg-light {
    background-color: var(--color-bg-light);
  }
  .bg-dark {
    background-color: var(--color-bg-dark);
  }
  .bg-sidebar{
    background-color: var(--color-bg-sidebar);
  }
  .bg-sidebar-active{
     background-color: var(--sidebar-primary-foreground);
  }
}
